<ul>
  <li>  <%= link_to "Explore Destinations", destinations_path %> </li>
  <li>  <%= link_to "Meet our bloggers", bloggers_path %> </li>
  <li>  <%= link_to "Read our posts", posts_path %> </li>
</ul>
<hr>
